
<header class="flex items-center justify-between px-10 py-6 bg-[#e9e9dc]">
  <div class="flex items-center gap-2 text-xl font-bold">
    <!-- <div class="w-6 h-6 bg-green-700 rounded-full"></div>
    <span>CHATPATA EXPRESS</span> -->
    <img src="assets/images/logo.png" alt="logo" class="w-[15rem]" />
  </div>
  <nav class="flex gap-8 text-sm font-medium">
    <a href="#">Life & News</a>
    <a href="#">About</a>
    <a href="#">Store</a>
    <a href="#">Recipes</a>
  </nav>
  <div class="relative w-[15rem] flex justify-end">
    <button
      class="bg-green-900 text-yellow-300 px-4 py-2 rounded-full font-bold"
    >
      CART
    </button>
    <span
      class="absolute -top-2 -right-2 bg-yellow-300 text-green-900 text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full"
      >3</span
    >
  </div>
</header>
